body {
    background-color: #ece0ce;
    font-family: "Lato", sans-serif;
}

/* Main Container */
.main-container {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
}

/* Buttons */
button {
    font-weight: 400;
    font-size: 1.125rem;
    color: white;
    padding: 14px 20px;
    width: 14rem;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.05) perspective(1px);
}

.btn-gray {
    background-color: #c2c2c2;
    color: black;
}

.btn-green {
    background-color: green;
}

.btn-blue {
    background-color: #3f49cc;
    border: solid 1px #3f49cc;
}

.btn-blue-outline {
    background-color: transparent;
    color: #3f49cc;
    border: solid 1px #3f49cc;
}

.btn-close {
    font-size: 1rem;
    background-color: #c2c2c2;
    padding: 8px 14px;
    color: black;
    width: auto;
    border: none;
}

.trash-icon-btn {
    background-color: transparent;
    padding: 0;
    width: auto;
    margin-left: 12px;
    box-shadow: none;
}

.trash-icon {
    color: gray;
    font-size: 16px;
}

/* Headings */
h1 {
    font-size: 4rem;
    font-weight: bold;
    color: green;
    font-family: 'Permanent Marker', cursive;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.5rem !important;
}

h4 {
    font-weight: bold;
}

/* Miscellaneous */
#score {
    font-size: 1.5rem;
    font-weight: bold;
}

#highScore {
    font-size: 1rem;
    font-weight: bold;
}

.canvas {
    background-color: #f1dcbb;
}

.container-padding {
    padding: 5rem 0;
}

.center {
    text-align: center;
}

.message {
    font-size: 1.25rem;
    font-weight: bold;
    color: #4444aa;
}

.body-header {
    font-weight: bold;
    font-size: 1rem;
    color: #4444aa;
    text-decoration: underline;
}

/* Modal Styles */
.modal-header {
    background-color: #e9e9e9;
    color: black;
    padding: 20px;
}

.modal-header .close {
    padding: 1rem 1rem;
    margin: 0;
}

button.close {
    padding: 0 !important;
    width: auto;
    box-shadow: none;
}

.modal-body {
    font-size: 1rem;
    padding: 20px;
}

.modal-footer {
    background-color: #e9e9e9;
    padding: 20px;
}

/* Flexbox Utility Classes */
.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

/* Responsive Design */
@media only screen and (max-width: 64.125em) {
    #hideIm {
        display: none;
    }

    img {
        width: 10rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    .container-padding {
        padding: 2rem 0;
    }
}

/* Specific Class */
.alanImgSnakePage {
    width: 90%;
    height: 90%;
}
